
.scale {
  height: 28px; 
  padding-left: 6px; 
  padding-right: 6px; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  border-radius: 9999px;
  background-color: #005EB81A;
  color: #005EB8FF;
}

.select-scale {
    margin: 0;
}

select {
    height: 30px;
    border-radius: 30px;
    font-family: roboto;
    border: 1px solid;
    border-color: #EBEBEAFF;
}